<div class="row">
	{% for item in images %}
		<div class="col-3 g-4">
			<img class="card-img-top" src={{ item.image.url }} height="200" width="200" alt="">
		</div>
	{% endfor %}
</div>
{% if images.has_other_pages %}
<div class="row p-5">
	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center">
	  	{% if images.has_previous %}
    		<li class="page-item">
		      <p class="page-link page-number" data-pageid="{{ images.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</p>
		    </li>
    	{% else %}
    		<li class="page-item disabled">
    			<a class="page-link">Previous</a>
    		</li>
	    {% endif %}
	    {% for i in images.paginator.page_range %}
	    	<li class="page-item {% if images.number == i %} active {% endif %}"><p class="page-link page-number" data-pageid="{{ i }}">{{ i }}</p></li>
	    {% endfor %}
	    {% if images.has_next %}
		    <li class="page-item">
		      <p class="page-link page-number" data-pageid="{{ images.next_page_number }}">Next</p>
		    </li>
	    {% else %}
	    	<li class="page-item disabled">
    			<a class="page-link">Next</a>
    		</li>
	    {% endif %}
	  </ul>
	</nav>
</div>
{% endif %}

<script>
	$('.page-number').on('click', function(e) {
		e.preventDefault()
		var p_num = $(this).attr('data-pageid');
		$.ajax({
			url: "{% url 'gallery:load-images' %}",
			data: {page: JSON.stringify(p_num)},
		}).done(function(res) {
			$('#gallery').html(res);
		})
	});
</script>
