{% extends 'base.html' %}

{% load static %}

{% block body_block %}
	<div class="container">
		<div class="row align-items-center">
			<div class="col text-center p-5">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
				  Add More Images
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      	<div class="modal-header">
				        	<h5 class="modal-title" id="exampleModalLabel">
				        		Add More Images
				        	</h5>
				        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      	</div>
				      	<div class="modal-body">
				      	<form action="{% url 'gallery:add-images' %}" method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<!-- <div class="input-group mb-3"> -->
										<input type="file" name="images" class="form-control" multiple>
										<br>
										<select class="form-select" multiple aria-label="Default select example" name="tags">
											{% for tag in tags %}
										  <option value="{{ tag.id }}">{{ tag.tag_name }}</option>
											{% endfor %}
										</select>
									<!-- </div> -->
									<div class="p-2">
					        	<button type="submit" class="btn btn-primary">Upload</button>
					      	</div>
					  		</form>
					    </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row align-items-center position-relative">
			<div class="col-2">
				<div class="position-absolute top-0">
					<button type="button" id="clear-tag" class="btn btn-primary">Clear Tags</button>
					<br><br>
					{% for tag in tags %}
						<button type="button" class="btn btn-light tag-class">{{ tag.tag_name }}</button>
						<br><br>
					{% endfor %}
				</div>
			</div>
			<div class="col-10" id="gallery">
				{% include 'gallery.html' %}
			</div>
		</div>
	</div>
{% endblock %}

{% block custom_script %}
	<script src="{% static 'js/tag-filter.js' %}"></script>
{% endblock %}
