{% extends 'base.html' %}

{% load static %}

{% block body_block %}
<div class="container">
	<div class="row align-items-center">
		<div class="col p-5">
			<img id="rimg" src="{{ image_url }}" height="400" width="400" alt="">
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col">
			<button type="button" id="img-rotate" class="btn btn-dark">Rotate</button>
			<button type="button" id="img-save" class="btn btn-dark">Save</button>
			<br><br>
			<div id="result"></div>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_script %}
	<script src="{% static 'js/jQueryRotate.js' %}"></script>
	<script src="{% static 'js/rotate.js' %}"></script>
	<script>
		$('#img-save').on('click', function(e) {
			$.ajax({
				url: '/rotate-image',
				data: {angle: JSON.stringify(360-nextAngle),
					   image_url: '{{ image_url }}'}
			}).done(function(res) {
				$('#img-save').removeClass('btn-dark');
				$('#img-save').addClass('btn-light');
				$('#result').html(res.msg);
			});
		});
	</script>
{% endblock %}
