{% extends 'base.html' %}

{% load static %}

{% block body_block %}
	<div class="row">
		<div class="col">
			<img id="rimg" src="{{ image_url }}" alt="">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button type="button" id="img-rotate" class="btn btn-dark">Rotate</button>
			<button type="button" id="img-save" class="btn btn-dark">Save</button>
		</div>
	</div>
{% endblock %}

{% block custom_script %}
	<script src="{% static 'js/jQueryRotate.js' %}"></script>
	<script src="{% static 'js/rotate.js' %}"></script>
	<script>
		$('#img-save').on('click', function(e) {
			$(this).removeClass('btn-dark');
			$(this).addClass('btn-light');
			$.ajax({
				url: '/rotate-image',
				data: {angle: JSON.stringify(360-nextAngle),
					   image_url: '{{ image_url }}'}
			});
		});
	</script>
{% endblock %}
